# Credentials Octopus Energy France
# Copiez ce fichier en .env et remplissez vos informations
#
#   cp tools/.env.example tools/.env
#
# ATTENTION : ne jamais committer .env dans git !

OCTOPUS_EMAIL=votre@email.fr
OCTOPUS_PASSWORD=votre_mot_de_passe
OCTOPUS_ACCOUNT=A-XXXX0000
